<p><%= t('mailer.greetings', name: @notification.user.name) %></p>

<p><%= t('mailer.follow.followed_by', follower: @follower.name) %></p>

<p>
  <a href="<%= user_url(@follower) %>">
    <%= t('mailer.comment.open') %>
  </a>
</p>

<p><%= t('mailer.comment.regards') %></p>
<p><%= t('mailer.comment.team') %></p>
