<p><%= t('mailer.greetings', name: @notification.user.name) %></p>

<p><%= t('mailer.comment.commented_by', commenter: @comment.user.name, post_title: @post.title) %></p>

<blockquote><%= @comment.content %></blockquote>

<p>
  <a href="<%= post_url(@post, anchor: "comment-#{@comment.id}") %>">
    <%= t('mailer.comment.open') %>
  </a>
</p>

<p><%= t('comment.regards') %></p>
<p><%= t('comment.team') %></p>
