<h1><%= @user.name %></h1>

<div style="display: flex; justify-content: space-between;">
  <div class="w-1/2">
    <h2><%= t('views.users.connections.followers') %></h2>
    <% if @followers.any? %>
      <ul>
        <% @followers.each do |follower| %>
          <li><%= link_to follower.name, user_profile_path(follower) %></li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('views.users.connections.no-followers') %></p>
    <% end %>
  </div>

  <div style="width: 45%;">
    <h2><%= t('views.users.connections.following') %></h2>
    <% if @following.any? %>
      <ul>
        <% @following.each do |followed| %>
          <li><%= link_to followed.name, user_path(followed) %></li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('views.users.connections.not-following') %></p>
    <% end %>
  </div>
</div>
