<h1><%= t('views.users.show.profile') %></h1>

<p><strong><%= t('views.users.show.name') %>:</strong> <%= @user.name %></p>
<p><strong><%= t('views.users.show.lastname') %>:</strong> <%= @user.lastname %></p>
<p><strong><%= t('views.users.show.email') %>:</strong> <%= @user.email %></p>
