<h1><%= t('views.users.show.profile') %></h1>

<% if @user.has_profile_picture? %>
  <%= image_tag @user.profile_picture.url(:small) %>
<% end %>

<% if @is_current_user %>
  <p><%= t('views.users.show.followers') %>: <%= @followers_count %>, <%= t('views.users.show.following') %>: <%= @following_count %></p>
  <%= link_to t('views.users.show.show-followers'), user_connections_path(@user) %>
<% else %>
  <% if current_user.following?(@user) %>
    <%= button_to t('views.users.show.unfollow'), unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= button_to t('views.users.show.follow'), follow_user_path(@user), method: :post %>
  <% end %>
<% end %>


<p><strong><%= t('views.users.show.name') %>:</strong> <%= @user.name %></p>
<p><strong><%= t('views.users.show.lastname') %>:</strong> <%= @user.lastname %></p>
<p><strong><%= t('views.users.show.email') %>:</strong> <%= @user.email %></p>

<% if @user.contact_emails.any? %>
  <h3><%= t('views.users.show.contact_emails') %>:</h3>
  <ul>
    <% @user.contact_emails.each do |contact_email| %>
      <li><%= contact_email.email %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('views.users.show.no_contact_emails') %></p>
<% end %>
