<!DOCTYPE html>
<html>
  <head>
    <title>Project DEV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= tag.meta name: 'tinymce-api-key', content: Rails.application.credentials.tinymce[:api_key] %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <header class="bg-white shadow-md">
      <%= render "shared/nav" %>
    </header>

    <%= yield %>
  </body>
</html>
